<br>
<div class="footertable">
	<div>
		This website is for use with Palliative Mobile.
	</div>
	<div>
		<hr>
	</div>
	<div>
		<a href="../menu.php">Main Menu</a> | 
		<a href="../analytics/analyze.php">Analytics</a> | 
		<a href="../settings/settings.php">Settings</a>
	</div>
	<div>
	    <a href="../logout.php">Log Out</a>
	</div>
</div>

<style>
	.footertable {
		width: 50%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	a:link {
		color: indianred;
	}
	a:visited {
		color: indianred;
	}
	a:hover {
		color: indianred;
	}
	a:active {
		color: indianred;
	}
</style>