<br>
<div class="footertable">
	<div>
		for use with palliative mobile.
	</div>
	<div>
		<hr>
	</div>
	<div>
		<a href="../index.php">home</a> | 
		<a href="../infopages/infopages.php">articles</a> | 
		<a href="../quizzing/quizzes.php">quizzing</a> | 
		<a href="../analytics/analyze.php">analytics</a> | 
		<a href="../settings/settings.php">settings</a>
	</div>
</div>

<style>
	.footertable {
		width: 50%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	a:link {
		color: indianred;
	}
	a:visited {
		color: indianred;
	}
	a:hover {
		color: indianred;
	}
	a:active {
		color: indianred;
	}
</style>